@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
@import url(http://fonts.googleapis.com/css?family=Voces);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

body{
margin:0px;
padding:0px;
background:#f1f1f1;
font-family:'Voces';
}

.topBar{
position:absolute;
top:0px;
left:0px;
width:100%;
min-width:960px;
height:30px;
background: #C40017;
-moz-box-shadow: 0 1px 5px #333;
-webkit-box-shadow: 0 1px 5px #333;
background: -webkit-gradient(linear, left top, left bottom, from(#C40017), to(#E6001B));
background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#000));
}

.topBar span {
float:left;
padding-top:3px;
display:inline-block;
padding-left:5px;
color: white;
font-family: 'Economica';
font-size:20px;
text-shadow: 0 -1px 1px black;
}
.top960{
width:980px; 
margin:auto;
padding-left:10px;
padding-right:10px;
}


.searchBox{
float:right;
padding-top:5px;
padding-right:5px;
margin-left:5px;
}

.searchBox #searchField{
border:0px;
margin:0px;
height:20px;
float:left;
border: 1px #E6001B solid;
border-right:none;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-box-shadow:inset 0 0 3px #E6001B;
text-indent:5px;
}

.searchBox #searchSubmit{
border:0px;
margin:0px;
height:20px;
float:left;
padding-left:15px;
padding-right:15px;
font-weight:bold;
color:white;
background: -webkit-gradient(linear, left top, left bottom, from(#13AD02), to(#0D8500));
background: -webkit-gradient(linear, left top, left bottom, from(#C40017), to(#E6001B));
border: 1px #E6001B solid;
border-left:none;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}

.loginButton{
padding-top:5px;

float:right;
padding-right:5px;

}

.loginButton div{
	-webkit-border-radius: 5px;
	height:17px;
	font-size:11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#13AD02), to(#0D8500));
	border: 1px #0D8500 solid;
}

.mainBody{

	width:980px;
	height:auto;
	margin:auto;
	margin-top:50px;
	padding-left:10px;
	padding-right:10px;
	
}

.mainLeft{
float:left;
width:600px;
}

.mainLeft h1 {
	color:#333;
	margin:0px;
	padding:0px;
	font-family:'Raleway';
	text-shadow: 1px 1px -1px white;
}

.mainRight{
float:right;
width:340px;
}

.companyBox{
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -webkit-linear-gradient(top,white 0,#DDD 100%);
	border: 1px #ccc solid;
	height:155px;
	width:100%;
}

.companyBox .logo{

	font-size:11px;
	float:left;
	margin-right: 15px;
}

.companyBox .logo img {
	width:125px;
	height:125px;
	margin-top:15px;
	margin-left:15px;
	-webkit-border-radius: 15px;
}

.companyBox .companyDetails{
	margin-top:15px;
	padding-left:15px;
	padding-left:15px;
	float:left;
	width:200px;
	height:125px;
	font-size: 12px;
	border-left: 1px #ccc solid;
}

.companyBox .companyRating{
	margin-top:15px;
	padding-left:15px;
	padding-left:15px;
	float:right;
	width:200px;
	height:125px;
	font-size: 12px;
	border-left: 1px #ccc solid;
}

.whatsNew {
	height:400px;
	width:100%;
	margin-top:21px;
	font-size:12px;
}

.whatsNew h3 {
	color:#333;
	margin:0px;
	padding:0px;
	font-family:'Raleway';
	font-size:15px;
}

.whatsNew ul {
	list-style:none;
}

.whatsNew li {
	margin-bottom:5px;
}

.productList{
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -webkit-linear-gradient(top,white 0,#DDD 100%);
	border: 1px #ccc solid;
	height:100px;
	width:587px;
	padding-left:13px;
}







































